.footer {
  padding-top: 45px;
  padding-bottom: 35px;
  margin-top: 45px;
}

.footer_link {
  font-size: 14px;
  line-height: 24px;
  transition: color $basic-transition;

  &:hover {
    color: $red;
  }
}

.footer_addr {
  p {
    max-width: 205px;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.priv {
  font-size: 14px;
}

.priv-link {
  color: rgba($black, 0.4);
  margin: 0 12px;
  transition: color $basic-transition;

  @media (max-width: $max-sm) {
    font-size: 14px;

    // bad practice
    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: auto;
    }
  }

  &:hover {
    color: $red;
  }
}
