<header class="header">
  <div class="container">
    <div class="d-flex d-flex--align-center d-flex--space-between header-wrapper">

      <p class="logo">UP<span>sale.</span></p>

      <nav class="header-nav">
        <a href="#services" class="header-nav__link js-anchor js-menu__link">Услуги</a>
        <a href="#cases" class="header-nav__link js-anchor js-menu__link">Кейсы</a>
        <a href="#contacts" class="header-nav__link is-active js-anchor js-menu__link">Контакты</a>
      </nav>

      <button class="nav-toggler js-burger">
        <span class="nav-toggler__line"></span>
        <span class="nav-toggler__line"></span>
      </button>

    </div>
  </div>
</header>



