// Базовые марджины/паддинги дизайна
.md {
  @media (min-width: $min-md) {

  }
}

.lg {
  @media (min-width: $min-lg) {

  }
}
// Марджины
.mb-20 {
  margin-bottom: 20px;
}

.mb-md-30 {
  @media (min-width: $min-md) {
    margin-bottom: 30px;
  }
}

.mt-20 {
  margin-top: 20px !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-lg-50 {
  @media (min-width: $min-lg) {
    margin-bottom: 50px;
  }
}

