// Основные стили, дополнение стилей reset.css для тегов которые убирают ненужные стили

*,
*::after,
*::before {
  box-sizing: border-box;
}

*:focus {
  outline: 2px auto $red;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a,
div {
  //letter-spacing: 0.05em;
}

html {
  font-size: 16px;
  line-height: 1.2;
}

body {
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: 'HelveticaNeueCyr', sans-serif;
  font-weight: normal;
  background: $white;
  padding-top: 74px;

  @media (min-width: $min-sm) {
    padding-top: 92px;
  }
}

button {
  outline: none;
  cursor: pointer;
}

input,
textarea {
  outline: none !important;
}

main {
  position: relative;
  transition: opacity 0.55s, transform 0.55s;
  overflow: hidden;

  //&:not(.is-loaded) {
  //  opacity: 0;
  //  transform: translateY(20px);
  //}
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  //Писать свои значения
   @media (min-width: $min-md) {
     max-width: 980px;
   }

   @media (min-width: $min-lg) {
     max-width: 1110px;
     padding: 0;
   }

   @media (min-width: 1368px) {
     max-width: 1210px;
   }
}

.container--wide {
  @media (min-width: $min-lg) {
    max-width: 1300px;
  }

  @media (min-width: 1368px) {
    max-width: 1300px;
  }
}

.d-md-block {
  @media (min-width: $min-md) {
    display: block !important;
  }
}

.d-md-none {
  @media (min-width: $min-md) {
    display: none !important;
  }
}

.d-none {
  display: none !important;
}

.position-relative {
  position: relative;
}

.js-visible {
  @media (min-width: $min-sm) {
    transition: all $basic-transition;

    &:not(.is-visible) {
      transform: translateY(30px);
    }
  }
}

.d-lg-none {
  @media (min-width: $min-lg) {
    display: none;
  }
}

.d-lg-flex {
  @media (min-width: $min-lg) {
    display: flex !important;
  }
}

