.section {

}

.section--hero {
  background: $dark;
  min-height: calc(100vh - 75px);
  padding-top: 90px;
  position: relative;
  border-bottom: 1px solid $red;

  @media (min-width: $min-lg) {
    min-height: unset;
    padding-top: 100px;
    height: calc(100vh - 91px);
  }
}

.section--services {
  padding-top: 60px;
  padding-bottom: 20px;
  background: #F4F4F4;

  @media (min-width: $min-lg) {
    padding-bottom: 200px;
    padding-top: 80px;
  }
}